*{
    margin: 0px;
    padding: 0px;
    font-family: Arial,sans-serif;
}

.container{
    display: flex;
    padding: 150px 50px;
    background-image: url('../images/main_img.png');
    background-repeat: no-repeat;
    background-size: 550px;
    background-position-x: right;
    background-position-y: 100px;
}

.left-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
}        
    .left-container h1{
        font-size: 60px;
        width: max-content;
        max-width: 490px;
    }
    .left-container h1 em{
        color:gold;
        font-style: normal;
        font-family: serif;
    }
    .left-container p{
        margin-left: 70px;
        max-width: 800px;

        z-index: 30;
    }
    .left-container button{
        width: max-content;
        margin-left: 70px;
        padding: 10px 20px;
        font-weight: bold;
        border: none;
        background-color: gold;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
